# City Schools Pandas Challenge

This analysis of the district-wide standardized test results aggregates data containing student's math and reading 
scores, as well as various information on the schools they attend. The purpose is to showcase obvious trends in school 
performance.

In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath for the school file
school_file = "Resources/schools_complete.csv"

In [3]:
#Store filepath for the student file
student_file = "Resources/students_complete.csv"

In [4]:
# Read the school file with the pandas library
school_df = pd.read_csv(school_file)
#school_df.head()

In [5]:
# Read the student file with the pandas library
student_df = pd.read_csv(student_file)
#student_df.head()

## District Summary

This is a high level snapshot of the district's key metrics.

In [6]:
#Find district summary information, like total schools
total_schools = school_df["school_name"].count()
#total_schools

In [7]:
total_students = school_df["size"].sum()
#total_students

In [8]:
total_budget = school_df["budget"].sum()
#total_budget

In [9]:
average_math_score = student_df["math_score"].mean()
#average_math_score

In [10]:
average_reading_score = student_df["reading_score"].mean()
#average_reading_score

In [11]:
# Find percent of students passing math, start with total scores:
total_math_score = student_df["math_score"].count()
#total_math_score

# Find passing scores:
passing_math = student_df.loc[(student_df["math_score"] >= 60)]
total_passing_math = len(passing_math)
#passing_math_score
                   
percent_math_pass = total_passing_math / total_math_score   
#percent_math_pass

In [12]:
# Find percent of students passing reading, start with total scores:
total_reading_score = student_df["reading_score"].count()
#total_reading_score

passing_reading = student_df.loc[(student_df["reading_score"] >= 60)]
total_passing_reading = len(passing_reading)
#passing_reading_score
                   
percent_reading_pass = total_passing_reading / total_reading_score    
#percent_reading_pass

In [13]:
# Find percent of students passing both math and reading, start with total scores:
total_score = student_df["math_score"].count()
#total_score

passing_score = student_df.loc[(student_df["math_score"] >= 60) & (student_df["reading_score"] >= 60)]
total_passing_score = len(passing_score)
                   
percent_pass = total_passing_score / total_score   
#percent_pass

In [14]:
district_summary_df = pd.DataFrame(
    {"Total Schools": [total_schools], 
     "Total Students": [total_students],
     "Total Budget": [total_budget],
     "Average Math Score": [average_math_score],
     "Average Reading Score": [average_reading_score],
     "% Passing Math": [percent_math_pass],
     "% Passing Reading": [percent_reading_pass],
     "% Overall Passing": [percent_pass]
                       })
#district_summary_df

In [15]:
# Use Map to format all the columns
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.0f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.0f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.2f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.2f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.2f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",79,82,0.92,1.00,0.92

## School Summary

Serves as an overview of key metrics on each school.

In [16]:
# Merge school dateframe with student dataframe using an outer join at school name
merge_df = pd.merge(school_df, student_df, on="school_name", how="outer")
#merge_df.head()

In [17]:
# add in columns needed for analysis
merge_df['Per Student Budget'] = merge_df['budget'] / merge_df['size']
merge_df["% Passing Math"] = merge_df["math_score"] >= 60
merge_df["% Passing Reading"] = merge_df["reading_score"] >= 60
merge_df["% Overall Passing"] = (merge_df["math_score"]>=60) & (merge_df["reading_score"]>=60)

# delete columns not needed for further analysis
del merge_df["School ID"]
del merge_df["Student ID"]
#merge_df.head()

In [18]:
# Rename columns
merge_df = merge_df.rename(columns={
    "school_name":"School Name", 
    "type":"School Type", 
    "size":"Total Students",
    "budget": "Total School Budget",
    "math_score": "Average Math Score",
    "reading_score": "Average Reading Score"}) 
#merge_df.head()

In [19]:
school_summary_df = merge_df.groupby(['School Name','School Type']).mean()
#school_summary_df.head()

In [20]:
#school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,}".format)
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,}".format)
school_summary_df["Average Math Score"] = school_summary_df["Average Math Score"].map("{:.0f}".format)
school_summary_df["Average Reading Score"] = school_summary_df["Average Reading Score"].map("{:.0f}".format)
school_summary_df["% Passing Math"] = school_summary_df["% Passing Math"].map("{:.2f}".format)
school_summary_df["% Passing Reading"] = school_summary_df["% Passing Reading"].map("{:.2f}".format)
school_summary_df["% Overall Passing"] = school_summary_df["% Overall Passing"].map("{:.2f}".format)
school_summary_df

,,Total Students,Total School Budget,Average Reading Score,Average Math Score,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing
School Name,School Type,,,,,,,,
Bailey High School,District,4976.0,"$3,124,928.0",81,77,$628.0,0.90,1.00,0.90
Cabrera High School,Charter,1858.0,"$1,081,356.0",84,83,$582.0,1.00,1.00,1.00
Figueroa High School,District,2949.0,"$1,884,411.0",81,77,$639.0,0.88,1.00,0.88
Ford High School,District,2739.0,"$1,763,916.0",81,77,$644.0,0.89,1.00,0.89
Griffin High School,Charter,1468.0,"$917,500.0",84,83,$625.0,1.00,1.00,1.00
Hernandez High School,District,4635.0,"$3,022,020.0",81,77,$652.0,0.89,1.00,0.89
Holden High School,Charter,427.0,"$248,087.0",84,84,$581.0,1.00,1.00,1.00
Huang High School,District,2917.0,"$1,910,635.0",81,77,$655.0,0.89,1.00,0.89
Johnson High School,District,4761.0,"$3,094,650.0",81,77,$650.0,0.89,1.00,0.89
Pena High School,Charter,962.0,"$585,858.0",84,84,$609.0,1.00,1.00,1.00
Rodriguez High School,District,3999.0,"$2,547,363.0",81,77,$637.0,0.89,1.00,0.89
Shelton High School,Charter,1761.0,"$1,056,600.0",84,83,$600.0,1.00,1.00,1.00
Thomas High School,Charter,1635.0,"$1,043,130.0",84,83,$638.0,1.00,1.00,1.00
Wilson High School,Charter,2283.0,"$1,319,574.0",84,83,$578.0,1.00,1.00,1.00
Wright High School,Charter,1800.0,"$1,049,400.0",84,84,$583.0,1.00,1.00,1.00

## Bottom Performing Schools

Table shows bottom 5 performing schools based on % Overall Passing.

In [21]:
bottom_performing_df = school_summary_df.sort_values("% Overall Passing")
bottom_performing_df.head(5)

,,Total Students,Total School Budget,Average Reading Score,Average Math Score,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing
School Name,School Type,,,,,,,,
Figueroa High School,District,2949.0,"$1,884,411.0",81,77,$639.0,0.88,1.00,0.88
Ford High School,District,2739.0,"$1,763,916.0",81,77,$644.0,0.89,1.00,0.89
Hernandez High School,District,4635.0,"$3,022,020.0",81,77,$652.0,0.89,1.00,0.89
Huang High School,District,2917.0,"$1,910,635.0",81,77,$655.0,0.89,1.00,0.89
Johnson High School,District,4761.0,"$3,094,650.0",81,77,$650.0,0.89,1.00,0.89

## Math Scores by Grade

Table lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school

In [24]:
groupby_grade_df = merge_df.groupby(['School Name', 'grade']).mean()
#groupby_grade_df.head()

In [23]:
# Add in formating
groupby_grade_df["Total School Budget"] = groupby_grade_df["Total School Budget"].map("${:,}".format)
groupby_grade_df["Per Student Budget"] = groupby_grade_df["Per Student Budget"].map("${:,}".format)
groupby_grade_df["Average Math Score"] = groupby_grade_df["Average Math Score"].map("{:.0f}".format)
groupby_grade_df["Average Reading Score"] = groupby_grade_df["Average Reading Score"].map("{:.0f}".format)
groupby_grade_df["% Passing Math"] = groupby_grade_df["% Passing Math"].map("{:.2f}".format)
groupby_grade_df["% Passing Reading"] = groupby_grade_df["% Passing Reading"].map("{:.2f}".format)
groupby_grade_df["% Overall Passing"] = groupby_grade_df["% Overall Passing"].map("{:.2f}".format)
groupby_grade_df

                             Total Students Total School Budget  \
School Name           grade
Bailey High School    10th           4976.0        $3,124,928.0
                      11th           4976.0        $3,124,928.0
                      12th           4976.0        $3,124,928.0
                      9th            4976.0        $3,124,928.0
Cabrera High School   10th           1858.0        $1,081,356.0
                      11th           1858.0        $1,081,356.0
                      12th           1858.0        $1,081,356.0
                      9th            1858.0        $1,081,356.0
Figueroa High School  10th           2949.0        $1,884,411.0
                      11th           2949.0        $1,884,411.0
                      12th           2949.0        $1,884,411.0
                      9th            2949.0        $1,884,411.0
Ford High School      10th           2739.0        $1,763,916.0
                      11th           2739.0        $1,763,916.0
                      12th           2739.0        $1,763,916.0
                      9th            2739.0        $1,763,916.0
Griffin High School   10th           1468.0          $917,500.0
                      11th           1468.0          $917,500.0
                      12th           1468.0          $917,500.0
                      9th            1468.0          $917,500.0
Hernandez High School 10th           4635.0        $3,022,020.0
                      11th           4635.0        $3,022,020.0
                      12th           4635.0        $3,022,020.0
                      9th            4635.0        $3,022,020.0
Holden High School    10th            427.0          $248,087.0
                      11th            427.0          $248,087.0
                      12th            427.0          $248,087.0
                      9th             427.0          $248,087.0
Huang High School     10th           2917.0        $1,910,635.0
                      11th           2917.0        $1,910,635.0
                      12th           2917.0        $1,910,635.0
                      9th            2917.0        $1,910,635.0
Johnson High School   10th           4761.0        $3,094,650.0
                      11th           4761.0        $3,094,650.0
                      12th           4761.0        $3,094,650.0
                      9th            4761.0        $3,094,650.0
Pena High School      10th            962.0          $585,858.0
                      11th            962.0          $585,858.0
                      12th            962.0          $585,858.0
                      9th             962.0          $585,858.0
Rodriguez High School 10th           3999.0        $2,547,363.0
                      11th           3999.0        $2,547,363.0
                      12th           3999.0        $2,547,363.0
                      9th            3999.0        $2,547,363.0
Shelton High School   10th           1761.0        $1,056,600.0
                      11th           1761.0        $1,056,600.0
                      12th           1761.0        $1,056,600.0
                      9th            1761.0        $1,056,600.0
Thomas High School    10th           1635.0        $1,043,130.0
                      11th           1635.0        $1,043,130.0
                      12th           1635.0        $1,043,130.0
                      9th            1635.0        $1,043,130.0
Wilson High School    10th           2283.0        $1,319,574.0
                      11th           2283.0        $1,319,574.0
                      12th           2283.0        $1,319,574.0
                      9th            2283.0        $1,319,574.0
Wright High School    10th           1800.0        $1,049,400.0
                      11th           1800.0        $1,049,400.0
                      12th           1800.0        $1,049,400.0
                      9th            1800.0        $1,049,400.0

                            Average Reading Score Average Math Score  \
School Name           grade
Bailey High School    10th                     81                 77
                      11th                     81                 78
                      12th                     81                 76
                      9th                      81                 77
Cabrera High School   10th                     84                 83
                      11th                     84                 83
                      12th                     84                 83
                      9th                      84                 83
Figueroa High School  10th                     81                 77
                      11th                     81                 77
                      12th                     81                 77
                      9th                      81                 76
Ford High School      10th                     81                 78
                      11th                     80                 77
                      12th                     81                 76
                      9th                      81                 77
Griffin High School   10th                     84                 84
                      11th                     84                 84
                      12th                     84                 83
                      9th                      83                 82
Hernandez High School 10th                     81                 77
                      11th                     81                 77
                      12th                     81                 77
                      9th                      81                 77
Holden High School    10th                     83                 83
                      11th                     84                 85
                      12th                     85                 83
                      9th                      84                 84
Huang High School     10th                     82                 76
                      11th                     81                 76
                      12th                     80                 77
                      9th                      81                 77
Johnson High School   10th                     81                 77
                      11th                     81                 77
                      12th                     81                 77
                      9th                      81                 77
Pena High School      10th                     84                 83
                      11th                     84                 84
                      12th                     85                 84
                      9th                      84                 84
Rodriguez High School 10th                     81                 77
                      11th                     81                 76
                      12th                     80                 78
                      9th                      81                 77
Shelton High School   10th                     83                 83
                      11th                     84                 83
                      12th                     83                 84
                      9th                      84                 83
Thomas High School    10th                     84                 83
                      11th                     84                 83
                      12th                     84                 83
                      9th                      84                 84
Wilson High School    10th                     84                 84
                      11th                     84                 83
                      12th                     84                 83
                      9th                      84                 83
Wright High School    10th                     84                 84
                      11th                     84                 84
                      12th                     84                 84
                      9th                      84                 83

                            Per Student Budget % Passing Math  \
School Name           grade
Bailey High School    10th              $628.0           0.89
                      11th              $628.0           0.91
                      12th              $628.0           0.88
                      9th               $628.0           0.90
Cabrera High School   10th              $582.0           1.00
                      11th              $582.0           1.00
                      12th              $582.0           1.00
                      9th               $582.0           1.00
Figueroa High School  10th              $639.0           0.89
                      11th              $639.0           0.90
                      12th              $639.0           0.89
                      9th               $639.0           0.87
Ford High School      10th              $644.0           0.92
                      11th              $644.0           0.90
                      12th              $644.0           0.86
                      9th               $644.0           0.89
Griffin High School   10th              $625.0           1.00
                      11th              $625.0           1.00
                      12th              $625.0           1.00
                      9th               $625.0           1.00
Hernandez High School 10th              $652.0           0.89
                      11th              $652.0           0.89
                      12th              $652.0           0.88
                      9th               $652.0           0.90
Holden High School    10th              $581.0           1.00
                      11th              $581.0           1.00
                      12th              $581.0           1.00
                      9th               $581.0           1.00
Huang High School     10th              $655.0           0.88
                      11th              $655.0           0.86
                      12th              $655.0           0.91
                      9th               $655.0           0.90
Johnson High School   10th              $650.0           0.89
                      11th              $650.0           0.89
                      12th              $650.0           0.89
                      9th               $650.0           0.89
Pena High School      10th              $609.0           1.00
                      11th              $609.0           1.00
                      12th              $609.0           1.00
                      9th               $609.0           1.00
Rodriguez High School 10th              $637.0           0.89
                      11th              $637.0           0.88
                      12th              $637.0           0.89
                      9th               $637.0           0.88
Shelton High School   10th              $600.0           1.00
                      11th              $600.0           1.00
                      12th              $600.0           1.00
                      9th               $600.0           1.00
Thomas High School    10th              $638.0           1.00
                      11th              $638.0           1.00
                      12th              $638.0           1.00
                      9th               $638.0           1.00
Wilson High School    10th              $578.0           1.00
                      11th              $578.0           1.00
                      12th              $578.0           1.00
                      9th               $578.0           1.00
Wright High School    10th              $583.0           1.00
                      11th              $583.0           1.00
                      12th              $583.0           1.00
                      9th               $583.0           1.00

                            % Passing Reading % Overall Passing
School Name           grade
Bailey High School    10th               1.00              0.89
                      11th               1.00              0.91
                      12th               1.00              0.88
                      9th                1.00              0.90
Cabrera High School   10th               1.00              1.00
                      11th               1.00              1.00
                      12th               1.00              1.00
                      9th                1.00              1.00
Figueroa High School  10th               1.00              0.89
                      11th               1.00              0.90
                      12th               1.00              0.89
                      9th                1.00              0.87
Ford High School      10th               1.00              0.92
                      11th               1.00              0.90
                      12th               1.00              0.86
                      9th                1.00              0.89
Griffin High School   10th               1.00              1.00
                      11th               1.00              1.00
                      12th               1.00              1.00
                      9th                1.00              1.00
Hernandez High School 10th               1.00              0.89
                      11th               1.00              0.89
                      12th               1.00              0.88
                      9th                1.00              0.90
Holden High School    10th               1.00              1.00
                      11th               1.00              1.00
                      12th               1.00              1.00
                      9th                1.00              1.00
Huang High School     10th               1.00              0.88
                      11th               1.00              0.86
                      12th               1.00              0.91
                      9th                1.00              0.90
Johnson High School   10th               1.00              0.89
                      11th               1.00              0.89
                      12th               1.00              0.89
                      9th                1.00              0.89
Pena High School      10th               1.00              1.00
                      11th               1.00              1.00
                      12th               1.00              1.00
                      9th                1.00              1.00
Rodriguez High School 10th               1.00              0.89
                      11th               1.00              0.88
                      12th               1.00              0.89
                      9th                1.00              0.88
Shelton High School   10th               1.00              1.00
                      11th               1.00              1.00
                      12th               1.00              1.00
                      9th                1.00              1.00
Thomas High School    10th               1.00              1.00
                      11th               1.00              1.00
                      12th               1.00              1.00
                      9th                1.00              1.00
Wilson High School    10th               1.00              1.00
                      11th               1.00              1.00
                      12th               1.00              1.00
                      9th                1.00              1.00
Wright High School    10th               1.00              1.00
                      11th               1.00              1.00
                      12th               1.00              1.00
                      9th                1.00              1.00

## Reading Scores by Grade

Table lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school

In [ ]:
#pull columns from groupby_grade_df

## Scores by School Spending

Table breaks down school performance based on average spending ranges per student.

In [30]:
# Create 4 reasonable bins to group school spending.

## Scores by School Size

Table breaks down school performance based on relative school size within the district.

## Scores by School Type

Table breaks down school performance based on school type within the district.