# City Schools Pandas Challenge

This analysis of the district-wide standardized test results aggregates data containing student's math and reading 
scores, as well as various information on the schools they attend. The purpose is to showcase obvious trends in school 
performance.

In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath for the school file
school_file = "Resources/schools_complete.csv"

In [3]:
#Store filepath for the student file
student_file = "Resources/students_complete.csv"

In [4]:
# Read the school file with the pandas library
school_df = pd.read_csv(school_file)
#school_df.head()

In [5]:
# Read the student file with the pandas library
student_df = pd.read_csv(student_file)
#student_df.head()

## District Summary

This is a high level snapshot of the district's key metrics.

In [6]:
#Find district summary information, like total schools
total_schools = school_df["school_name"].count()
#total_schools

In [7]:
total_students = school_df["size"].sum()
#total_students

In [8]:
total_budget = school_df["budget"].sum()
#total_budget

In [9]:
average_math_score = student_df["math_score"].mean()
#average_math_score

In [10]:
average_reading_score = student_df["reading_score"].mean()
#average_reading_score

In [11]:
# Find percent of students passing math, start with total scores:
total_math_score = student_df["math_score"].count()
#total_math_score

# Find passing scores:
passing_math = student_df.loc[(student_df["math_score"] >= 60)]
total_passing_math = len(passing_math)
#passing_math_score
                   
percent_math_pass = total_passing_math / total_math_score   
#percent_math_pass

In [12]:
# Find percent of students passing reading, start with total scores:
total_reading_score = student_df["reading_score"].count()
#total_reading_score

passing_reading = student_df.loc[(student_df["reading_score"] >= 60)]
total_passing_reading = len(passing_reading)
#passing_reading_score
                   
percent_reading_pass = total_passing_reading / total_reading_score    
#percent_reading_pass

In [13]:
# Find percent of students passing both math and reading, start with total scores:
total_score = student_df["math_score"].count()
#total_score

passing_score = student_df.loc[(student_df["math_score"] >= 60) & (student_df["reading_score"] >= 60)]
total_passing_score = len(passing_score)
                   
percent_pass = total_passing_score / total_score   
#percent_pass

In [14]:
district_summary_df = pd.DataFrame(
    {"Total Schools": [total_schools], 
     "Total Students": [total_students],
     "Total Budget": [total_budget],
     "Average Math Score": [average_math_score],
     "Average Reading Score": [average_reading_score],
     "% Passing Math": [percent_math_pass],
     "% Passing Reading": [percent_reading_pass],
     "% Overall Passing": [percent_pass]
                       })
#district_summary_df

In [15]:
# Use Map to format all the columns
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.0f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.0f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.2f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.2f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.2f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",79,82,0.92,1.00,0.92

## School Summary

Serves as an overview of key metrics on each school.

In [16]:
# Merge school dateframe with student dataframe using an outer join at school name
merge_df = pd.merge(school_df, student_df, on="school_name", how="outer")
#merge_df.head()

In [17]:
#Check the data types
#merge_df.dtypes

In [18]:
# add in columns needed for analysis
merge_df['Per Student Budget'] = merge_df['budget'] / merge_df['size']
merge_df["% Passing Math"] = merge_df["math_score"] >= 60
merge_df["% Passing Reading"] = merge_df["reading_score"] >= 60
merge_df["% Overall Passing"] = (merge_df["math_score"]>=60) & (merge_df["reading_score"]>=60)

# delete columns not needed for further analysis
del merge_df["School ID"]
del merge_df["Student ID"]
#merge_df.head()

In [19]:
# Rename columns
merge_df = merge_df.rename(columns={
    "school_name":"School Name", 
    "type":"School Type", 
    "size":"Total Students",
    "budget": "Total School Budget",
    "grade": "Grade",
    "math_score": "Average Math Score",
    "reading_score": "Average Reading Score"}) 
#merge_df.head()

In [20]:
school_summary_df = merge_df.groupby(['School Name','School Type']).mean()
#school_summary_df.head()

In [21]:
school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:.0f}".format)
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,}".format)
school_summary_df["Average Math Score"] = school_summary_df["Average Math Score"].map("{:.0f}".format)
school_summary_df["Average Reading Score"] = school_summary_df["Average Reading Score"].map("{:.0f}".format)
school_summary_df["% Passing Math"] = school_summary_df["% Passing Math"].map("{:.2f}".format)
school_summary_df["% Passing Reading"] = school_summary_df["% Passing Reading"].map("{:.2f}".format)
school_summary_df["% Overall Passing"] = school_summary_df["% Overall Passing"].map("{:.2f}".format)
school_summary_df

,,Total Students,Total School Budget,Average Reading Score,Average Math Score,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing
School Name,School Type,,,,,,,,
Bailey High School,District,4976,"$3,124,928.0",81,77,$628.0,0.90,1.00,0.90
Cabrera High School,Charter,1858,"$1,081,356.0",84,83,$582.0,1.00,1.00,1.00
Figueroa High School,District,2949,"$1,884,411.0",81,77,$639.0,0.88,1.00,0.88
Ford High School,District,2739,"$1,763,916.0",81,77,$644.0,0.89,1.00,0.89
Griffin High School,Charter,1468,"$917,500.0",84,83,$625.0,1.00,1.00,1.00
Hernandez High School,District,4635,"$3,022,020.0",81,77,$652.0,0.89,1.00,0.89
Holden High School,Charter,427,"$248,087.0",84,84,$581.0,1.00,1.00,1.00
Huang High School,District,2917,"$1,910,635.0",81,77,$655.0,0.89,1.00,0.89
Johnson High School,District,4761,"$3,094,650.0",81,77,$650.0,0.89,1.00,0.89
Pena High School,Charter,962,"$585,858.0",84,84,$609.0,1.00,1.00,1.00
Rodriguez High School,District,3999,"$2,547,363.0",81,77,$637.0,0.89,1.00,0.89
Shelton High School,Charter,1761,"$1,056,600.0",84,83,$600.0,1.00,1.00,1.00
Thomas High School,Charter,1635,"$1,043,130.0",84,83,$638.0,1.00,1.00,1.00
Wilson High School,Charter,2283,"$1,319,574.0",84,83,$578.0,1.00,1.00,1.00
Wright High School,Charter,1800,"$1,049,400.0",84,84,$583.0,1.00,1.00,1.00

## Top Performing Schools

Table shows top 5 performing schools based on % Overall Passing.

In [22]:
top_performing_df = school_summary_df.sort_values("% Overall Passing", ascending=False)
top_performing_df.head(5)

,,Total Students,Total School Budget,Average Reading Score,Average Math Score,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing
School Name,School Type,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.0",84,83,$582.0,1.00,1.00,1.00
Griffin High School,Charter,1468,"$917,500.0",84,83,$625.0,1.00,1.00,1.00
Holden High School,Charter,427,"$248,087.0",84,84,$581.0,1.00,1.00,1.00
Pena High School,Charter,962,"$585,858.0",84,84,$609.0,1.00,1.00,1.00
Shelton High School,Charter,1761,"$1,056,600.0",84,83,$600.0,1.00,1.00,1.00

## Bottom Performing Schools

Table shows bottom 5 performing schools based on % Overall Passing.

In [23]:
bottom_performing_df = school_summary_df.sort_values("% Overall Passing")
bottom_performing_df.head(5)

,,Total Students,Total School Budget,Average Reading Score,Average Math Score,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing
School Name,School Type,,,,,,,,
Figueroa High School,District,2949,"$1,884,411.0",81,77,$639.0,0.88,1.00,0.88
Ford High School,District,2739,"$1,763,916.0",81,77,$644.0,0.89,1.00,0.89
Hernandez High School,District,4635,"$3,022,020.0",81,77,$652.0,0.89,1.00,0.89
Huang High School,District,2917,"$1,910,635.0",81,77,$655.0,0.89,1.00,0.89
Johnson High School,District,4761,"$3,094,650.0",81,77,$650.0,0.89,1.00,0.89

## Math Scores by Grade

Table lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school

In [24]:
math_by_grade = merge_df[["School Name", "Grade", "Average Math Score"]]
#math_by_grade

In [25]:
groupby_grade_df = math_by_grade.groupby(['School Name', 'Grade']).mean()
#groupby_grade_df.head()

In [26]:
# Add in formating
groupby_grade_df["Average Math Score"] = groupby_grade_df["Average Math Score"].map("{:.0f}".format)
groupby_grade_df

                            Average Math Score
School Name           Grade
Bailey High School    10th                  77
                      11th                  78
                      12th                  76
                      9th                   77
Cabrera High School   10th                  83
                      11th                  83
                      12th                  83
                      9th                   83
Figueroa High School  10th                  77
                      11th                  77
                      12th                  77
                      9th                   76
Ford High School      10th                  78
                      11th                  77
                      12th                  76
                      9th                   77
Griffin High School   10th                  84
                      11th                  84
                      12th                  83
                      9th                   82
Hernandez High School 10th                  77
                      11th                  77
                      12th                  77
                      9th                   77
Holden High School    10th                  83
                      11th                  85
                      12th                  83
                      9th                   84
Huang High School     10th                  76
                      11th                  76
                      12th                  77
                      9th                   77
Johnson High School   10th                  77
                      11th                  77
                      12th                  77
                      9th                   77
Pena High School      10th                  83
                      11th                  84
                      12th                  84
                      9th                   84
Rodriguez High School 10th                  77
                      11th                  76
                      12th                  78
                      9th                   77
Shelton High School   10th                  83
                      11th                  83
                      12th                  84
                      9th                   83
Thomas High School    10th                  83
                      11th                  83
                      12th                  83
                      9th                   84
Wilson High School    10th                  84
                      11th                  83
                      12th                  83
                      9th                   83
Wright High School    10th                  84
                      11th                  84
                      12th                  84
                      9th                   83

## Reading Scores by Grade

Table lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school

In [27]:
#pull columns from groupby_grade_df
read_by_grade = merge_df[["School Name", "Grade", "Average Reading Score"]]
#read_by_grade.head()

In [28]:
groupby_grade_readdf = read_by_grade.groupby(['School Name', 'Grade']).mean()
#groupby_grade_readdf.head()

In [29]:
# Format Average Reading Scores
groupby_grade_readdf["Average Reading Score"] = groupby_grade_readdf["Average Reading Score"].map("{:.0f}".format)
groupby_grade_readdf

                            Average Reading Score
School Name           Grade
Bailey High School    10th                     81
                      11th                     81
                      12th                     81
                      9th                      81
Cabrera High School   10th                     84
                      11th                     84
                      12th                     84
                      9th                      84
Figueroa High School  10th                     81
                      11th                     81
                      12th                     81
                      9th                      81
Ford High School      10th                     81
                      11th                     80
                      12th                     81
                      9th                      81
Griffin High School   10th                     84
                      11th                     84
                      12th                     84
                      9th                      83
Hernandez High School 10th                     81
                      11th                     81
                      12th                     81
                      9th                      81
Holden High School    10th                     83
                      11th                     84
                      12th                     85
                      9th                      84
Huang High School     10th                     82
                      11th                     81
                      12th                     80
                      9th                      81
Johnson High School   10th                     81
                      11th                     81
                      12th                     81
                      9th                      81
Pena High School      10th                     84
                      11th                     84
                      12th                     85
                      9th                      84
Rodriguez High School 10th                     81
                      11th                     81
                      12th                     80
                      9th                      81
Shelton High School   10th                     83
                      11th                     84
                      12th                     83
                      9th                      84
Thomas High School    10th                     84
                      11th                     84
                      12th                     84
                      9th                      84
Wilson High School    10th                     84
                      11th                     84
                      12th                     84
                      9th                      84
Wright High School    10th                     84
                      11th                     84
                      12th                     84
                      9th                      84

## Scores by School Spending

Table breaks down school performance based on average spending ranges per student.

In [30]:
# Create 4 reasonable bins to group school spending. 
# Find max spending per student. 
merge_df["Per Student Budget"].max()

655.0

In [31]:
#Min is $578/student.
merge_df["Per Student Budget"].min()

578.0

In [32]:
# Create bins to hold Data 
bins = [575, 600, 625, 650, 675]
# Create the names for the four bins
group_names = ["under $600", "$601-$625", "$626-$650", "over $650"]

# Use pd.cut to group Per Student Budget into bins
merge_df["Per Student Budget Summary"] = pd.cut(merge_df["Per Student Budget"], bins, labels=group_names, include_lowest=True)
#merge_df

In [33]:
#pull columns for Scores by School Spending table
score_spend_df = merge_df[["Per Student Budget Summary", "School Name", 
                           "Average Math Score", "Average Reading Score", "% Passing Math",
                          "% Passing Reading", "% Overall Passing"]]
#score_spend_df.head()

In [34]:
# Creating a group based off of the bins
scores_by_spending_df = score_spend_df.groupby(["Per Student Budget Summary",]).mean()
#scores_by_spending_df

In [35]:
# Add formating
scores_by_spending_df["Average Math Score"] = scores_by_spending_df["Average Math Score"].map("{:.0f}".format)
scores_by_spending_df["Average Reading Score"] = scores_by_spending_df["Average Reading Score"].map("{:.0f}".format)
scores_by_spending_df["% Passing Math"] = scores_by_spending_df["% Passing Math"].map("{:.2f}".format)
scores_by_spending_df["% Passing Reading"] = scores_by_spending_df["% Passing Reading"].map("{:.2f}".format)
scores_by_spending_df["% Overall Passing"] = scores_by_spending_df["% Overall Passing"].map("{:.2f}".format)
scores_by_spending_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Per Student Budget Summary,,,,,
under $600,83,84,1.00,1.00,1.00
$601-$625,84,84,1.00,1.00,1.00
$626-$650,77,81,0.90,1.00,0.90
over $650,77,81,0.89,1.00,0.89

## Scores by School Size

Table breaks down school performance based on relative school size within the district.

In [36]:
# Create 3 reasonable bins to group school size. 
# Find max school size. 
merge_df["Total Students"].max()

4976

In [37]:
# Find min school size. 
merge_df["Total Students"].min()

427

In [38]:
# Create bins to hold Data 
bins2 = [400, 2000, 3500, 5000]
# Create the names for the four bins
group_names2 = ["Small", "Medium", "Large"]

# Use pd.cut to group Per Student Budget into bins
merge_df["School Size"] = pd.cut(merge_df["Total Students"], bins2, labels=group_names2, include_lowest=True)
merge_df

,School Name,School Type,Total Students,Total School Budget,student_name,gender,Grade,Average Reading Score,Average Math Score,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing,Per Student Budget Summary,School Size
0,Huang High School,District,2917,1910635,Paul Bradley,M,9th,66,79,655.0,True,True,True,over $650,Medium
1,Huang High School,District,2917,1910635,Victor Smith,M,12th,94,61,655.0,True,True,True,over $650,Medium
2,Huang High School,District,2917,1910635,Kevin Rodriguez,M,12th,90,60,655.0,True,True,True,over $650,Medium
3,Huang High School,District,2917,1910635,Dr. Richard Scott,M,12th,67,58,655.0,False,True,False,over $650,Medium
4,Huang High School,District,2917,1910635,Bonnie Ray,F,9th,97,84,655.0,True,True,True,over $650,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,Thomas High School,Charter,1635,1043130,Donna Howard,F,12th,99,90,638.0,True,True,True,$626-$650,Small
39166,Thomas High School,Charter,1635,1043130,Dawn Bell,F,10th,95,70,638.0,True,True,True,$626-$650,Small
39167,Thomas High School,Charter,1635,1043130,Rebecca Tanner,F,9th,73,84,638.0,True,True,True,$626-$650,Small
39168,Thomas High School,Charter,1635,1043130,Desiree Kidd,F,10th,99,90,638.0,True,True,True,$626-$650,Small
39169,Thomas High School,Charter,1635,1043130,Carolyn Jackson,F,11th,95,75,638.0,True,True,True,$626-$650,Small

In [39]:
# pull columns for Scores by School Size table.
score_size_df = merge_df[["School Size", "School Name", 
                           "Average Math Score", "Average Reading Score", "% Passing Math",
                          "% Passing Reading", "% Overall Passing"]]
#score_spend_df.head()

In [40]:
# Creating a group based off of the bins
scores_by_size_df = score_size_df.groupby(["School Size",]).mean()
#scores_by_size_df

In [41]:
# Add formating
scores_by_size_df["Average Math Score"] = scores_by_size_df["Average Math Score"].map("{:.0f}".format)
scores_by_size_df["Average Reading Score"] = scores_by_size_df["Average Reading Score"].map("{:.0f}".format)
scores_by_size_df["% Passing Math"] = scores_by_size_df["% Passing Math"].map("{:.2f}".format)
scores_by_size_df["% Passing Reading"] = scores_by_size_df["% Passing Reading"].map("{:.2f}".format)
scores_by_size_df["% Overall Passing"] = scores_by_size_df["% Overall Passing"].map("{:.2f}".format)
scores_by_size_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small,83,84,1.00,1.00,1.00
Medium,78,82,0.91,1.00,0.91
Large,77,81,0.89,1.00,0.89

## Scores by School Type

Table breaks down school performance based on school type within the district.