# City Schools Pandas Challenge

This analysis of the district-wide standardized test results aggregates data containing student's math and reading 
scores, as well as various information on the schools they attend. The purpose is to showcase obvious trends in school 
performance.

In [3]:
# Dependencies
import pandas as pd

In [4]:
# Store filepath for the school file
school_file = "Resources/schools_complete.csv"

In [5]:
#Store filepath for the student file
student_file = "Resources/students_complete.csv"

In [6]:
# Read the school file with the pandas library
school_df = pd.read_csv(school_file)
school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [7]:
# Read the student file with the pandas library
student_df = pd.read_csv(student_file)
student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

# District Summary

In [8]:
# This is a high level snapshot of the district's key metrics.

In [9]:
#Find district summary information, like total schools
total_schools = school_df["school_name"].count()
#total_schools

In [10]:
total_students = school_df["size"].sum()
#total_students

In [11]:
total_budget = school_df["budget"].sum()
#total_budget

In [12]:
average_math_score = student_df["math_score"].mean()
#average_math_score

In [13]:
average_reading_score = student_df["reading_score"].mean()
#average_reading_score

In [14]:
# Find percent of students passing math, start with total scores:
#total_math_score = student_df["math_score"].count()
#total_math_score

In [15]:
# Create bins to hold pass/fail data for both math and reading
bins = [0, 59, 100]

bin_names = ["Fail", "Pass"]

In [16]:
# Identify math scores as either pass or fail and add to bins
binned_math = pd.cut(student_df['math_score'], bins, labels=bin_names)
# Create column in student data frame
student_df['math_passfail'] = binned_math
student_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,math_passfail
0,0,Paul Bradley,M,9th,Huang High School,66,79,Pass
1,1,Victor Smith,M,12th,Huang High School,94,61,Pass
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,Pass
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,Fail
4,4,Bonnie Ray,F,9th,Huang High School,97,84,Pass
...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,Pass
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,Pass
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,Pass
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,Pass
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,Pass

In [17]:
# Find total reading scores for percent passing reading function: 
#total_reading_score = student_df["reading_score"].count()
#total_reading_score

In [18]:
# Identify reading scores as either pass or fail and add to bins
binned_reading = pd.cut(student_df['reading_score'], bins, labels=bin_names)
# Create column in student data frame
student_df['reading_passfail'] = binned_reading
#student_df

In [19]:
# Find total number of students with passing math scores
math_pass = student_df['math_passfail'].value_counts('Pass')
#math_pass

In [20]:
# Find total number of students with passing reading scores
reading_pass = student_df['reading_passfail'].value_counts('Pass')
#reading_pass

In [21]:
#Find % of students overall passing
student_df["overall_passfail"] = student_df["math_passfail"].astype(str) + student_df["reading_passfail"].astype(str)
student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,math_passfail,reading_passfail,overall_passfail
0,0,Paul Bradley,M,9th,Huang High School,66,79,Pass,Pass,PassPass
1,1,Victor Smith,M,12th,Huang High School,94,61,Pass,Pass,PassPass
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,Pass,Pass,PassPass
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,Fail,Pass,FailPass
4,4,Bonnie Ray,F,9th,Huang High School,97,84,Pass,Pass,PassPass

In [22]:
overall_pass = student_df['overall_passfail'].value_counts('PassPass')
#overall_pass

In [23]:
district_summary_df = pd.DataFrame(
    {"Total Schools": [total_schools], 
     "Total Students": [total_students],
     "Total Budget": [total_budget],
     "Average Math Score": [average_math_score],
     "Average Reading Score": [average_reading_score],
     "% Passing Math": [math_pass],
     "% Passing Reading": [reading_pass],
     "% Overall Passing": [overall_pass]
                       })
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,Pass 0.924457 Fail 0.075543 Name: math_p...,Pass 1.0 Fail 0.0 Name: reading_passfail...,PassPass 0.924457 FailPass 0.075543 Name...

# School Summary

In [24]:
# Serves as an overview of key metrics on each school.
#School Name
#School Type
#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math (The percentage of students that passed math.)
#% Passing Reading (The percentage of students that passed reading.)
#% Overall Passing (The percentage of students that passed math **and** reading.)

In [25]:
# Merge school dateframe with student dataframe using an outer join at school name
merge_df = pd.merge(school_df, student_df, on="school_name", how="outer")
merge_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,math_passfail,reading_passfail,overall_passfail
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,Pass,Pass,PassPass
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,Pass,Pass,PassPass
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,Pass,Pass,PassPass
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,Fail,Pass,FailPass
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,Pass,Pass,PassPass

In [26]:
# Add a column name Per_Student_Budget found by dividing buget by size, or number of students
merge_df["Per_Student_Budget"] = merge_df["budget"] / merge_df["size"]
merge_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,math_passfail,reading_passfail,overall_passfail,Per_Student_Budget
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,Pass,Pass,PassPass,655.0
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,Pass,Pass,PassPass,655.0
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,Pass,Pass,PassPass,655.0
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,Fail,Pass,FailPass,655.0
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,Pass,Pass,PassPass,655.0

In [43]:
# Using astype(), convert passfail, binned columns data into string
merge_df.loc[:, "math_passfail"] = merge_df["math_passfail"].astype("str")
merge_df.loc[:, "reading_passfail"] = merge_df["reading_passfail"].astype("str")

merge_df.dtypes

School ID               int64
school_name            object
type                   object
size                    int64
budget                  int64
Student ID              int64
student_name           object
gender                 object
grade                  object
reading_score           int64
math_score              int64
math_passfail          object
reading_passfail       object
overall_passfail       object
Per_Student_Budget    float64
dtype: object

In [46]:
# Use .loc to find data on specific schools
huang_df = merge_df.loc[merge_df["school_name"] == "Huang High School", ["school_name", "type", "size", "budget", "math_score", "reading_score", "math_passfail", "reading_passfail", "overall_passfail", "Per_Student_Budget"]]
#huang_df.head()

,school_name,type,size,budget,math_score,reading_score,math_passfail,reading_passfail,overall_passfail,Per_Student_Budget
0,Huang High School,District,2917,1910635,79,66,Pass,Pass,PassPass,655.0
1,Huang High School,District,2917,1910635,61,94,Pass,Pass,PassPass,655.0
2,Huang High School,District,2917,1910635,60,90,Pass,Pass,PassPass,655.0
3,Huang High School,District,2917,1910635,58,67,Fail,Pass,FailPass,655.0
4,Huang High School,District,2917,1910635,84,97,Pass,Pass,PassPass,655.0

In [69]:
# Gather data from huang_df for the Huang High School Summary Table
huang_name = huang_df["school_name"].unique()
huang_name

array(['Huang High School'], dtype=object)

In [71]:
huang_type = huang_df["type"].unique()
huang_type

array(['District'], dtype=object)

In [72]:
huang_size = huang_df["size"].unique()
huang_size

array([2917], dtype=int64)

In [75]:
huang_budget = huang_df["budget"].unique()
huang_budget

array([1910635], dtype=int64)

In [78]:
average_math_huang = huang_df["math_score"].mean()
average_math_huang

76.62941378128214

In [80]:
average_reading_huang = huang_df["reading_score"].mean()
average_reading_huang

81.18272197463148

In [82]:
# Find percent of Huang students with passing math scores
math_pass_huang = huang_df['math_passfail'].value_counts('Pass')
math_pass_huang

Pass    0.888584
Fail    0.111416
Name: math_passfail, dtype: float64

In [83]:
# Find percent of Huang students with passing reading scores
reading_pass_huang = huang_df['reading_passfail'].value_counts('Pass')
reading_pass_huang

Pass    1.0
Name: reading_passfail, dtype: float64

In [84]:
overall_pass_huang = huang_df['overall_passfail'].value_counts('PassPass')
overall_pass_huang

PassPass    0.888584
FailPass    0.111416
Name: overall_passfail, dtype: float64

In [107]:
# Print table with Huang Summary information:
huang_summary_df = pd.DataFrame(
    {"School Name": huang_name, 
     "School Type": huang_type,
     "Total Students": huang_size,
     "Total School Budget": huang_budget,
     "Average Math Score": [average_math_huang],
     "Average Reading Score": [average_reading_huang],
     "% Passing Math": [math_pass_huang],
     "% Passing Reading": [reading_pass_huang],
     "% Overall Passing": [overall_pass_huang]
                       })
huang_summary_df

,School Name,School Type,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,2917,1910635,76.629414,81.182722,Pass 0.888584 Fail 0.111416 Name: math_p...,"Pass 1.0 Name: reading_passfail, dtype: flo...",PassPass 0.888584 FailPass 0.111416 Name...

In [47]:
figueroa_df = merge_df.loc[merge_df["school_name"] == "Figueroa High School", ["school_name", "type", "size", "budget", "math_score", "reading_score", "math_passfail", "reading_passfail", "overall_passfail", "Per_Student_Budget"]]
figueroa_df.head()

,school_name,type,size,budget,math_score,reading_score,math_passfail,reading_passfail,overall_passfail,Per_Student_Budget
2917,Figueroa High School,District,2949,1884411,87,85,Pass,Pass,PassPass,639.0
2918,Figueroa High School,District,2949,1884411,84,97,Pass,Pass,PassPass,639.0
2919,Figueroa High School,District,2949,1884411,77,67,Pass,Pass,PassPass,639.0
2920,Figueroa High School,District,2949,1884411,64,97,Pass,Pass,PassPass,639.0
2921,Figueroa High School,District,2949,1884411,64,79,Pass,Pass,PassPass,639.0

In [86]:
# Gather data from huang_df for the Huang High School Summary Table
figueroa_name = figueroa_df["school_name"].unique()
figueroa_name

array(['Figueroa High School'], dtype=object)

In [87]:
figueroa_type = figueroa_df["type"].unique()
figueroa_type

array(['District'], dtype=object)

In [88]:
figueroa_size = figueroa_df["size"].unique()
figueroa_size

array([2949], dtype=int64)

In [89]:
figueroa_budget = figueroa_df["budget"].unique()
figueroa_budget

array([1884411], dtype=int64)

In [90]:
average_math_figueroa = figueroa_df["math_score"].mean()
average_math_figueroa

76.71176670057646

In [91]:
average_reading_figueroa = figueroa_df["reading_score"].mean()
average_reading_figueroa

81.15801966768396

In [92]:
# Find percent of Huang students with passing math scores
math_pass_figueroa = figueroa_df['math_passfail'].value_counts('Pass')
math_pass_figueroa

Pass    0.884368
Fail    0.115632
Name: math_passfail, dtype: float64

In [93]:
# Find percent of Huang students with passing reading scores
reading_pass_figueroa = figueroa_df['reading_passfail'].value_counts('Pass')
reading_pass_figueroa

Pass    1.0
Name: reading_passfail, dtype: float64

In [94]:
overall_pass_figueroa = figueroa_df['overall_passfail'].value_counts('PassPass')
overall_pass_figueroa

PassPass    0.884368
FailPass    0.115632
Name: overall_passfail, dtype: float64

In [95]:
# Print table with Huang Summary information:
figueroa_summary_df = pd.DataFrame(
    {"School Name": figueroa_name, 
     "School Tyoe": figueroa_type,
     "Total Students": figueroa_size,
     "Total School Budget": figueroa_budget,
     "Average Math Score": [average_math_figueroa],
     "Average Reading Score": [average_reading_figueroa],
     "% Passing Math": [math_pass_figueroa],
     "% Passing Reading": [reading_pass_figueroa],
     "% Overall Passing": [overall_pass_figueroa]
                       })
figueroa_summary_df

,School Name,School Tyoe,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Figueroa High School,District,2949,1884411,76.711767,81.15802,Pass 0.884368 Fail 0.115632 Name: math_p...,"Pass 1.0 Name: reading_passfail, dtype: flo...",PassPass 0.884368 FailPass 0.115632 Name...

In [54]:
shelton_df = merge_df.loc[merge_df["school_name"] == "Shelton High School", ["school_name", "type", "size", "budget", "math_score", "reading_score", "math_passfail", "reading_passfail", "overall_passfail", "Per_Student_Budget"]]
shelton_df.head()

,school_name,type,size,budget,math_score,reading_score,math_passfail,reading_passfail,overall_passfail,Per_Student_Budget
5866,Shelton High School,Charter,1761,1056600,91,70,Pass,Pass,PassPass,600.0
5867,Shelton High School,Charter,1761,1056600,71,84,Pass,Pass,PassPass,600.0
5868,Shelton High School,Charter,1761,1056600,99,95,Pass,Pass,PassPass,600.0
5869,Shelton High School,Charter,1761,1056600,95,76,Pass,Pass,PassPass,600.0
5870,Shelton High School,Charter,1761,1056600,82,71,Pass,Pass,PassPass,600.0

In [96]:
# Gather data from huang_df for the Huang High School Summary Table
shelton_name = shelton_df["school_name"].unique()
shelton_name

array(['Shelton High School'], dtype=object)

In [97]:
shelton_type = shelton_df["type"].unique()
shelton_type

array(['Charter'], dtype=object)

In [98]:
shelton_size = shelton_df["size"].unique()
shelton_size

array([1761], dtype=int64)

In [99]:
shelton_budget = shelton_df["budget"].unique()
shelton_budget

array([1056600], dtype=int64)

In [100]:
average_math_shelton = shelton_df["math_score"].mean()
average_math_shelton

83.3594548551959

In [101]:
average_reading_shelton = shelton_df["reading_score"].mean()
average_reading_shelton

83.72572402044293

In [102]:
# Find percent of Huang students with passing math scores
math_pass_shelton = shelton_df['math_passfail'].value_counts('Pass')
math_pass_shelton

Pass    1.0
Name: math_passfail, dtype: float64

In [103]:
# Find percent of Huang students with passing reading scores
reading_pass_shelton = shelton_df['reading_passfail'].value_counts('Pass')
reading_pass_shelton

Pass    1.0
Name: reading_passfail, dtype: float64

In [104]:
overall_pass_shelton = shelton_df['overall_passfail'].value_counts('PassPass')
overall_pass_shelton

PassPass    1.0
Name: overall_passfail, dtype: float64

In [106]:
# Print table with Huang Summary information:
shelton_summary_df = pd.DataFrame(
    {"School Name": shelton_name, 
     "School Tyoe": shelton_type,
     "Total Students": shelton_size,
     "Total School Budget": shelton_budget,
     "Average Math Score": [average_math_shelton],
     "Average Reading Score": [average_reading_shelton],
     "% Passing Math": [math_pass_shelton],
     "% Passing Reading": [reading_pass_shelton],
     "% Overall Passing": [overall_pass_shelton]
                       })
shelton_summary_df

,School Name,School Tyoe,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Shelton High School,Charter,1761,1056600,83.359455,83.725724,"Pass 1.0 Name: math_passfail, dtype: float64","Pass 1.0 Name: reading_passfail, dtype: flo...","PassPass 1.0 Name: overall_passfail, dtype:..."

In [55]:
hernandez_df = merge_df.loc[merge_df["school_name"] == "Hernandez High School", ["school_name", "type", "size", "budget", "math_score", "reading_score", "math_passfail", "reading_passfail", "overall_passfail", "Per_Student_Budget"]]
hernandez_df.head()

,school_name,type,size,budget,math_score,reading_score,math_passfail,reading_passfail,overall_passfail,Per_Student_Budget
7627,Hernandez High School,District,4635,3022020,88,70,Pass,Pass,PassPass,652.0
7628,Hernandez High School,District,4635,3022020,93,97,Pass,Pass,PassPass,652.0
7629,Hernandez High School,District,4635,3022020,81,83,Pass,Pass,PassPass,652.0
7630,Hernandez High School,District,4635,3022020,91,77,Pass,Pass,PassPass,652.0
7631,Hernandez High School,District,4635,3022020,93,84,Pass,Pass,PassPass,652.0

In [ ]:
# Gather data from huang_df for the Huang High School Summary Table
shelton_name = shelton_df["school_name"].unique()
shelton_name

In [ ]:
shelton_type = shelton_df["type"].unique()
_type

In [ ]:
_size = _df["size"].unique()
_size

In [ ]:
_budget = _df["budget"].unique()
_budget

In [90]:
average_math_ = _df["math_score"].mean()
average_math_

76.71176670057646

In [91]:
average_reading_ = _df["reading_score"].mean()
average_reading_

81.15801966768396

In [92]:
# Find percent of Huang students with passing math scores
math_pass_ = _df['math_passfail'].value_counts('Pass')
math_pass_

Pass    0.884368
Fail    0.115632
Name: math_passfail, dtype: float64

In [93]:
# Find percent of Huang students with passing reading scores
reading_pass_ = _df['reading_passfail'].value_counts('Pass')
reading_pass_

Pass    1.0
Name: reading_passfail, dtype: float64

In [94]:
overall_pass_ = _df['overall_passfail'].value_counts('PassPass')
overall_pass_

PassPass    0.884368
FailPass    0.115632
Name: overall_passfail, dtype: float64

In [95]:
# Print table with Huang Summary information:
_summary_df = pd.DataFrame(
    {"School Name": _name, 
     "School Tyoe": _type,
     "Total Students": _size,
     "Total School Budget": _budget,
     "Average Math Score": [average_math_],
     "Average Reading Score": [average_reading_],
     "% Passing Math": [math_pass_],
     "% Passing Reading": [reading_pass_],
     "% Overall Passing": [overall_pass_]
                       })
figueroa_summary_df

,School Name,School Tyoe,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Figueroa High School,District,2949,1884411,76.711767,81.15802,Pass 0.884368 Fail 0.115632 Name: math_p...,"Pass 1.0 Name: reading_passfail, dtype: flo...",PassPass 0.884368 FailPass 0.115632 Name...

In [56]:
griffin_df = merge_df.loc[merge_df["school_name"] == "Griffin High School", ["school_name", "type", "size", "budget", "math_score", "reading_score", "math_passfail", "reading_passfail", "overall_passfail", "Per_Student_Budget"]]
griffin_df.head()

,school_name,type,size,budget,math_score,reading_score,math_passfail,reading_passfail,overall_passfail,Per_Student_Budget
12262,Griffin High School,Charter,1468,917500,68,79,Pass,Pass,PassPass,625.0
12263,Griffin High School,Charter,1468,917500,81,91,Pass,Pass,PassPass,625.0
12264,Griffin High School,Charter,1468,917500,89,78,Pass,Pass,PassPass,625.0
12265,Griffin High School,Charter,1468,917500,85,91,Pass,Pass,PassPass,625.0
12266,Griffin High School,Charter,1468,917500,83,76,Pass,Pass,PassPass,625.0

In [ ]:
# Gather data from huang_df for the Huang High School Summary Table
_name = _df["school_name"].unique()
_name

In [ ]:
_type = _df["type"].unique()
_type

In [ ]:
_size = _df["size"].unique()
_size

In [ ]:
_budget = _df["budget"].unique()
_budget

In [90]:
average_math_ = _df["math_score"].mean()
average_math_

76.71176670057646

In [91]:
average_reading_ = _df["reading_score"].mean()
average_reading_

81.15801966768396

In [92]:
# Find percent of Huang students with passing math scores
math_pass_ = _df['math_passfail'].value_counts('Pass')
math_pass_

Pass    0.884368
Fail    0.115632
Name: math_passfail, dtype: float64

In [93]:
# Find percent of Huang students with passing reading scores
reading_pass_ = _df['reading_passfail'].value_counts('Pass')
reading_pass_

Pass    1.0
Name: reading_passfail, dtype: float64

In [94]:
overall_pass_ = _df['overall_passfail'].value_counts('PassPass')
overall_pass_

PassPass    0.884368
FailPass    0.115632
Name: overall_passfail, dtype: float64

In [95]:
# Print table with Huang Summary information:
_summary_df = pd.DataFrame(
    {"School Name": _name, 
     "School Tyoe": _type,
     "Total Students": _size,
     "Total School Budget": _budget,
     "Average Math Score": [average_math_],
     "Average Reading Score": [average_reading_],
     "% Passing Math": [math_pass_],
     "% Passing Reading": [reading_pass_],
     "% Overall Passing": [overall_pass_]
                       })
figueroa_summary_df

,School Name,School Tyoe,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Figueroa High School,District,2949,1884411,76.711767,81.15802,Pass 0.884368 Fail 0.115632 Name: math_p...,"Pass 1.0 Name: reading_passfail, dtype: flo...",PassPass 0.884368 FailPass 0.115632 Name...

In [57]:
wilson_df = merge_df.loc[merge_df["school_name"] == "Wilson High School", ["school_name", "type", "size", "budget", "math_score", "reading_score", "math_passfail", "reading_passfail", "overall_passfail", "Per_Student_Budget"]]
wilson_df.head()

,school_name,type,size,budget,math_score,reading_score,math_passfail,reading_passfail,overall_passfail,Per_Student_Budget
13730,Wilson High School,Charter,2283,1319574,71,84,Pass,Pass,PassPass,578.0
13731,Wilson High School,Charter,2283,1319574,87,72,Pass,Pass,PassPass,578.0
13732,Wilson High School,Charter,2283,1319574,82,97,Pass,Pass,PassPass,578.0
13733,Wilson High School,Charter,2283,1319574,68,93,Pass,Pass,PassPass,578.0
13734,Wilson High School,Charter,2283,1319574,72,79,Pass,Pass,PassPass,578.0

In [ ]:
# Gather data from huang_df for the Huang High School Summary Table
_name = _df["school_name"].unique()
_name

In [ ]:
_type = _df["type"].unique()
_type

In [ ]:
_size = _df["size"].unique()
_size

In [ ]:
_budget = _df["budget"].unique()
_budget

In [90]:
average_math_ = _df["math_score"].mean()
average_math_

76.71176670057646

In [91]:
average_reading_ = _df["reading_score"].mean()
average_reading_

81.15801966768396

In [92]:
# Find percent of Huang students with passing math scores
math_pass_ = _df['math_passfail'].value_counts('Pass')
math_pass_

Pass    0.884368
Fail    0.115632
Name: math_passfail, dtype: float64

In [93]:
# Find percent of Huang students with passing reading scores
reading_pass_ = _df['reading_passfail'].value_counts('Pass')
reading_pass_

Pass    1.0
Name: reading_passfail, dtype: float64

In [94]:
overall_pass_ = _df['overall_passfail'].value_counts('PassPass')
overall_pass_

PassPass    0.884368
FailPass    0.115632
Name: overall_passfail, dtype: float64

In [95]:
# Print table with Huang Summary information:
_summary_df = pd.DataFrame(
    {"School Name": _name, 
     "School Tyoe": _type,
     "Total Students": _size,
     "Total School Budget": _budget,
     "Average Math Score": [average_math_],
     "Average Reading Score": [average_reading_],
     "% Passing Math": [math_pass_],
     "% Passing Reading": [reading_pass_],
     "% Overall Passing": [overall_pass_]
                       })
figueroa_summary_df

,School Name,School Tyoe,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Figueroa High School,District,2949,1884411,76.711767,81.15802,Pass 0.884368 Fail 0.115632 Name: math_p...,"Pass 1.0 Name: reading_passfail, dtype: flo...",PassPass 0.884368 FailPass 0.115632 Name...

In [ ]:
cabrera_df = merge_df.loc[merge_df["school_name"] == "Cabrera High School", ["school_name", "type", "size", "budget", "math_score", "reading_score", "math_passfail", "reading_passfail", "overall_passfail", "Per_Student_Budget"]]
cabrera_df.head()

In [58]:
bailey_df = merge_df.loc[merge_df["school_name"] == "Bailey High School", ["school_name", "type", "size", "budget", "math_score", "reading_score", "math_passfail", "reading_passfail", "overall_passfail", "Per_Student_Budget"]]
bailey_df.head()

,school_name,type,size,budget,math_score,reading_score,math_passfail,reading_passfail,overall_passfail,Per_Student_Budget
17871,Bailey High School,District,4976,3124928,59,75,Fail,Pass,FailPass,628.0
17872,Bailey High School,District,4976,3124928,58,84,Fail,Pass,FailPass,628.0
17873,Bailey High School,District,4976,3124928,86,79,Pass,Pass,PassPass,628.0
17874,Bailey High School,District,4976,3124928,89,71,Pass,Pass,PassPass,628.0
17875,Bailey High School,District,4976,3124928,61,90,Pass,Pass,PassPass,628.0

In [ ]:
# Gather data from huang_df for the Huang High School Summary Table
_name = _df["school_name"].unique()
_name

In [ ]:
_type = _df["type"].unique()
_type

In [ ]:
_size = _df["size"].unique()
_size

In [ ]:
_budget = _df["budget"].unique()
_budget

In [90]:
average_math_ = _df["math_score"].mean()
average_math_

76.71176670057646

In [91]:
average_reading_ = _df["reading_score"].mean()
average_reading_

81.15801966768396

In [92]:
# Find percent of Huang students with passing math scores
math_pass_ = _df['math_passfail'].value_counts('Pass')
math_pass_

Pass    0.884368
Fail    0.115632
Name: math_passfail, dtype: float64

In [93]:
# Find percent of Huang students with passing reading scores
reading_pass_ = _df['reading_passfail'].value_counts('Pass')
reading_pass_

Pass    1.0
Name: reading_passfail, dtype: float64

In [94]:
overall_pass_ = _df['overall_passfail'].value_counts('PassPass')
overall_pass_

PassPass    0.884368
FailPass    0.115632
Name: overall_passfail, dtype: float64

In [95]:
# Print table with Huang Summary information:
_summary_df = pd.DataFrame(
    {"School Name": _name, 
     "School Tyoe": _type,
     "Total Students": _size,
     "Total School Budget": _budget,
     "Average Math Score": [average_math_],
     "Average Reading Score": [average_reading_],
     "% Passing Math": [math_pass_],
     "% Passing Reading": [reading_pass_],
     "% Overall Passing": [overall_pass_]
                       })
figueroa_summary_df

,School Name,School Tyoe,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Figueroa High School,District,2949,1884411,76.711767,81.15802,Pass 0.884368 Fail 0.115632 Name: math_p...,"Pass 1.0 Name: reading_passfail, dtype: flo...",PassPass 0.884368 FailPass 0.115632 Name...

In [59]:
holden_df = merge_df.loc[merge_df["school_name"] == "Holden High School", ["school_name", "type", "size", "budget", "math_score", "reading_score", "math_passfail", "reading_passfail", "overall_passfail", "Per_Student_Budget"]]
holden_df.head()

,school_name,type,size,budget,math_score,reading_score,math_passfail,reading_passfail,overall_passfail,Per_Student_Budget
22847,Holden High School,Charter,427,248087,92,86,Pass,Pass,PassPass,581.0
22848,Holden High School,Charter,427,248087,81,91,Pass,Pass,PassPass,581.0
22849,Holden High School,Charter,427,248087,93,98,Pass,Pass,PassPass,581.0
22850,Holden High School,Charter,427,248087,90,80,Pass,Pass,PassPass,581.0
22851,Holden High School,Charter,427,248087,85,76,Pass,Pass,PassPass,581.0

In [ ]:
# Gather data from huang_df for the Huang High School Summary Table
_name = _df["school_name"].unique()
_name

In [ ]:
_type = _df["type"].unique()
_type

In [ ]:
_size = _df["size"].unique()
_size

In [ ]:
_budget = _df["budget"].unique()
_budget

In [90]:
average_math_ = _df["math_score"].mean()
average_math_

76.71176670057646

In [91]:
average_reading_ = _df["reading_score"].mean()
average_reading_

81.15801966768396

In [92]:
# Find percent of Huang students with passing math scores
math_pass_ = _df['math_passfail'].value_counts('Pass')
math_pass_

Pass    0.884368
Fail    0.115632
Name: math_passfail, dtype: float64

In [93]:
# Find percent of Huang students with passing reading scores
reading_pass_ = _df['reading_passfail'].value_counts('Pass')
reading_pass_

Pass    1.0
Name: reading_passfail, dtype: float64

In [94]:
overall_pass_ = _df['overall_passfail'].value_counts('PassPass')
overall_pass_

PassPass    0.884368
FailPass    0.115632
Name: overall_passfail, dtype: float64

In [95]:
# Print table with Huang Summary information:
_summary_df = pd.DataFrame(
    {"School Name": _name, 
     "School Tyoe": _type,
     "Total Students": _size,
     "Total School Budget": _budget,
     "Average Math Score": [average_math_],
     "Average Reading Score": [average_reading_],
     "% Passing Math": [math_pass_],
     "% Passing Reading": [reading_pass_],
     "% Overall Passing": [overall_pass_]
                       })
figueroa_summary_df

,School Name,School Tyoe,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Figueroa High School,District,2949,1884411,76.711767,81.15802,Pass 0.884368 Fail 0.115632 Name: math_p...,"Pass 1.0 Name: reading_passfail, dtype: flo...",PassPass 0.884368 FailPass 0.115632 Name...

In [60]:
pena_df = merge_df.loc[merge_df["school_name"] == "Pena High School", ["school_name", "type", "size", "budget", "math_score", "reading_score", "math_passfail", "reading_passfail", "overall_passfail", "Per_Student_Budget"]]
pena_df.head()

,school_name,type,size,budget,math_score,reading_score,math_passfail,reading_passfail,overall_passfail,Per_Student_Budget
23274,Pena High School,Charter,962,585858,75,91,Pass,Pass,PassPass,609.0
23275,Pena High School,Charter,962,585858,76,94,Pass,Pass,PassPass,609.0
23276,Pena High School,Charter,962,585858,91,98,Pass,Pass,PassPass,609.0
23277,Pena High School,Charter,962,585858,71,78,Pass,Pass,PassPass,609.0
23278,Pena High School,Charter,962,585858,92,87,Pass,Pass,PassPass,609.0

In [ ]:
# Gather data from huang_df for the Huang High School Summary Table
_name = _df["school_name"].unique()
_name

In [ ]:
_type = _df["type"].unique()
_type

In [ ]:
_size = _df["size"].unique()
_size

In [ ]:
_budget = _df["budget"].unique()
_budget

In [90]:
average_math_ = _df["math_score"].mean()
average_math_

76.71176670057646

In [91]:
average_reading_ = _df["reading_score"].mean()
average_reading_

81.15801966768396

In [92]:
# Find percent of Huang students with passing math scores
math_pass_ = _df['math_passfail'].value_counts('Pass')
math_pass_

Pass    0.884368
Fail    0.115632
Name: math_passfail, dtype: float64

In [93]:
# Find percent of Huang students with passing reading scores
reading_pass_ = _df['reading_passfail'].value_counts('Pass')
reading_pass_

Pass    1.0
Name: reading_passfail, dtype: float64

In [94]:
overall_pass_ = _df['overall_passfail'].value_counts('PassPass')
overall_pass_

PassPass    0.884368
FailPass    0.115632
Name: overall_passfail, dtype: float64

In [95]:
# Print table with Huang Summary information:
_summary_df = pd.DataFrame(
    {"School Name": _name, 
     "School Tyoe": _type,
     "Total Students": _size,
     "Total School Budget": _budget,
     "Average Math Score": [average_math_],
     "Average Reading Score": [average_reading_],
     "% Passing Math": [math_pass_],
     "% Passing Reading": [reading_pass_],
     "% Overall Passing": [overall_pass_]
                       })
figueroa_summary_df

,School Name,School Tyoe,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Figueroa High School,District,2949,1884411,76.711767,81.15802,Pass 0.884368 Fail 0.115632 Name: math_p...,"Pass 1.0 Name: reading_passfail, dtype: flo...",PassPass 0.884368 FailPass 0.115632 Name...

In [61]:
wright_df = merge_df.loc[merge_df["school_name"] == "Wright High School", ["school_name", "type", "size", "budget", "math_score", "reading_score", "math_passfail", "reading_passfail", "overall_passfail", "Per_Student_Budget"]]
wright_df.head()

,school_name,type,size,budget,math_score,reading_score,math_passfail,reading_passfail,overall_passfail,Per_Student_Budget
24236,Wright High School,Charter,1800,1049400,72,89,Pass,Pass,PassPass,583.0
24237,Wright High School,Charter,1800,1049400,93,84,Pass,Pass,PassPass,583.0
24238,Wright High School,Charter,1800,1049400,88,88,Pass,Pass,PassPass,583.0
24239,Wright High School,Charter,1800,1049400,84,75,Pass,Pass,PassPass,583.0
24240,Wright High School,Charter,1800,1049400,82,93,Pass,Pass,PassPass,583.0

In [ ]:
# Gather data from huang_df for the Huang High School Summary Table
_name = _df["school_name"].unique()
_name

In [ ]:
_type = _df["type"].unique()
_type

In [ ]:
_size = _df["size"].unique()
_size

In [ ]:
_budget = _df["budget"].unique()
_budget

In [90]:
average_math_ = _df["math_score"].mean()
average_math_

76.71176670057646

In [91]:
average_reading_ = _df["reading_score"].mean()
average_reading_

81.15801966768396

In [92]:
# Find percent of Huang students with passing math scores
math_pass_ = _df['math_passfail'].value_counts('Pass')
math_pass_

Pass    0.884368
Fail    0.115632
Name: math_passfail, dtype: float64

In [93]:
# Find percent of Huang students with passing reading scores
reading_pass_ = _df['reading_passfail'].value_counts('Pass')
reading_pass_

Pass    1.0
Name: reading_passfail, dtype: float64

In [94]:
overall_pass_ = _df['overall_passfail'].value_counts('PassPass')
overall_pass_

PassPass    0.884368
FailPass    0.115632
Name: overall_passfail, dtype: float64

In [95]:
# Print table with Huang Summary information:
_summary_df = pd.DataFrame(
    {"School Name": _name, 
     "School Tyoe": _type,
     "Total Students": _size,
     "Total School Budget": _budget,
     "Average Math Score": [average_math_],
     "Average Reading Score": [average_reading_],
     "% Passing Math": [math_pass_],
     "% Passing Reading": [reading_pass_],
     "% Overall Passing": [overall_pass_]
                       })
figueroa_summary_df

,School Name,School Tyoe,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Figueroa High School,District,2949,1884411,76.711767,81.15802,Pass 0.884368 Fail 0.115632 Name: math_p...,"Pass 1.0 Name: reading_passfail, dtype: flo...",PassPass 0.884368 FailPass 0.115632 Name...

In [62]:
rodriguez_df = merge_df.loc[merge_df["school_name"] == "Rodriguez High School", ["school_name", "type", "size", "budget", "math_score", "reading_score", "math_passfail", "reading_passfail", "overall_passfail", "Per_Student_Budget"]]
rodriguez_df.head()

,school_name,type,size,budget,math_score,reading_score,math_passfail,reading_passfail,overall_passfail,Per_Student_Budget
26036,Rodriguez High School,District,3999,2547363,81,74,Pass,Pass,PassPass,637.0
26037,Rodriguez High School,District,3999,2547363,86,80,Pass,Pass,PassPass,637.0
26038,Rodriguez High School,District,3999,2547363,62,97,Pass,Pass,PassPass,637.0
26039,Rodriguez High School,District,3999,2547363,73,79,Pass,Pass,PassPass,637.0
26040,Rodriguez High School,District,3999,2547363,92,96,Pass,Pass,PassPass,637.0

In [ ]:
# Gather data from huang_df for the Huang High School Summary Table
_name = _df["school_name"].unique()
_name

In [ ]:
_type = _df["type"].unique()
_type

In [ ]:
_size = _df["size"].unique()
_size

In [ ]:
_budget = _df["budget"].unique()
_budget

In [90]:
average_math_ = _df["math_score"].mean()
average_math_

76.71176670057646

In [91]:
average_reading_ = _df["reading_score"].mean()
average_reading_

81.15801966768396

In [92]:
# Find percent of Huang students with passing math scores
math_pass_ = _df['math_passfail'].value_counts('Pass')
math_pass_

Pass    0.884368
Fail    0.115632
Name: math_passfail, dtype: float64

In [93]:
# Find percent of Huang students with passing reading scores
reading_pass_ = _df['reading_passfail'].value_counts('Pass')
reading_pass_

Pass    1.0
Name: reading_passfail, dtype: float64

In [94]:
overall_pass_ = _df['overall_passfail'].value_counts('PassPass')
overall_pass_

PassPass    0.884368
FailPass    0.115632
Name: overall_passfail, dtype: float64

In [95]:
# Print table with Huang Summary information:
_summary_df = pd.DataFrame(
    {"School Name": _name, 
     "School Tyoe": _type,
     "Total Students": _size,
     "Total School Budget": _budget,
     "Average Math Score": [average_math_],
     "Average Reading Score": [average_reading_],
     "% Passing Math": [math_pass_],
     "% Passing Reading": [reading_pass_],
     "% Overall Passing": [overall_pass_]
                       })
figueroa_summary_df

,School Name,School Tyoe,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Figueroa High School,District,2949,1884411,76.711767,81.15802,Pass 0.884368 Fail 0.115632 Name: math_p...,"Pass 1.0 Name: reading_passfail, dtype: flo...",PassPass 0.884368 FailPass 0.115632 Name...

In [63]:
johnson_df = merge_df.loc[merge_df["school_name"] == "Johnson High School", ["school_name", "type", "size", "budget", "math_score", "reading_score", "math_passfail", "reading_passfail", "overall_passfail", "Per_Student_Budget"]]
johnson_df.head()

,school_name,type,size,budget,math_score,reading_score,math_passfail,reading_passfail,overall_passfail,Per_Student_Budget
30035,Johnson High School,District,4761,3094650,87,87,Pass,Pass,PassPass,650.0
30036,Johnson High School,District,4761,3094650,62,98,Pass,Pass,PassPass,650.0
30037,Johnson High School,District,4761,3094650,77,89,Pass,Pass,PassPass,650.0
30038,Johnson High School,District,4761,3094650,85,66,Pass,Pass,PassPass,650.0
30039,Johnson High School,District,4761,3094650,85,63,Pass,Pass,PassPass,650.0

In [ ]:
# Gather data from huang_df for the Huang High School Summary Table
_name = _df["school_name"].unique()
_name

In [ ]:
_type = _df["type"].unique()
_type

In [ ]:
_size = _df["size"].unique()
_size

In [ ]:
_budget = _df["budget"].unique()
_budget

In [90]:
average_math_ = _df["math_score"].mean()
average_math_

76.71176670057646

In [91]:
average_reading_ = _df["reading_score"].mean()
average_reading_

81.15801966768396

In [92]:
# Find percent of Huang students with passing math scores
math_pass_ = _df['math_passfail'].value_counts('Pass')
math_pass_

Pass    0.884368
Fail    0.115632
Name: math_passfail, dtype: float64

In [93]:
# Find percent of Huang students with passing reading scores
reading_pass_ = _df['reading_passfail'].value_counts('Pass')
reading_pass_

Pass    1.0
Name: reading_passfail, dtype: float64

In [94]:
overall_pass_ = _df['overall_passfail'].value_counts('PassPass')
overall_pass_

PassPass    0.884368
FailPass    0.115632
Name: overall_passfail, dtype: float64

In [95]:
# Print table with Huang Summary information:
_summary_df = pd.DataFrame(
    {"School Name": _name, 
     "School Tyoe": _type,
     "Total Students": _size,
     "Total School Budget": _budget,
     "Average Math Score": [average_math_],
     "Average Reading Score": [average_reading_],
     "% Passing Math": [math_pass_],
     "% Passing Reading": [reading_pass_],
     "% Overall Passing": [overall_pass_]
                       })
figueroa_summary_df

,School Name,School Tyoe,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Figueroa High School,District,2949,1884411,76.711767,81.15802,Pass 0.884368 Fail 0.115632 Name: math_p...,"Pass 1.0 Name: reading_passfail, dtype: flo...",PassPass 0.884368 FailPass 0.115632 Name...

In [64]:
ford_df = merge_df.loc[merge_df["school_name"] == "Ford High School", ["school_name", "type", "size", "budget", "math_score", "reading_score", "math_passfail", "reading_passfail", "overall_passfail", "Per_Student_Budget"]]
ford_df.head()

,school_name,type,size,budget,math_score,reading_score,math_passfail,reading_passfail,overall_passfail,Per_Student_Budget
34796,Ford High School,District,2739,1763916,94,66,Pass,Pass,PassPass,644.0
34797,Ford High School,District,2739,1763916,63,68,Pass,Pass,PassPass,644.0
34798,Ford High School,District,2739,1763916,59,73,Fail,Pass,FailPass,644.0
34799,Ford High School,District,2739,1763916,58,88,Fail,Pass,FailPass,644.0
34800,Ford High School,District,2739,1763916,55,96,Fail,Pass,FailPass,644.0

In [ ]:
# Gather data from huang_df for the Huang High School Summary Table
_name = _df["school_name"].unique()
_name

In [ ]:
_type = _df["type"].unique()
_type

In [ ]:
_size = _df["size"].unique()
_size

In [ ]:
_budget = _df["budget"].unique()
_budget

In [90]:
average_math_ = _df["math_score"].mean()
average_math_

76.71176670057646

In [91]:
average_reading_ = _df["reading_score"].mean()
average_reading_

81.15801966768396

In [92]:
# Find percent of Huang students with passing math scores
math_pass_ = _df['math_passfail'].value_counts('Pass')
math_pass_

Pass    0.884368
Fail    0.115632
Name: math_passfail, dtype: float64

In [93]:
# Find percent of Huang students with passing reading scores
reading_pass_ = _df['reading_passfail'].value_counts('Pass')
reading_pass_

Pass    1.0
Name: reading_passfail, dtype: float64

In [94]:
overall_pass_ = _df['overall_passfail'].value_counts('PassPass')
overall_pass_

PassPass    0.884368
FailPass    0.115632
Name: overall_passfail, dtype: float64

In [95]:
# Print table with Huang Summary information:
_summary_df = pd.DataFrame(
    {"School Name": _name, 
     "School Tyoe": _type,
     "Total Students": _size,
     "Total School Budget": _budget,
     "Average Math Score": [average_math_],
     "Average Reading Score": [average_reading_],
     "% Passing Math": [math_pass_],
     "% Passing Reading": [reading_pass_],
     "% Overall Passing": [overall_pass_]
                       })
figueroa_summary_df

,School Name,School Tyoe,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Figueroa High School,District,2949,1884411,76.711767,81.15802,Pass 0.884368 Fail 0.115632 Name: math_p...,"Pass 1.0 Name: reading_passfail, dtype: flo...",PassPass 0.884368 FailPass 0.115632 Name...

In [65]:
thomas_df = merge_df.loc[merge_df["school_name"] == "Thomas High School", ["school_name", "type", "size", "budget", "math_score", "reading_score", "math_passfail", "reading_passfail", "overall_passfail", "Per_Student_Budget"]]
thomas_df.head()

,school_name,type,size,budget,math_score,reading_score,math_passfail,reading_passfail,overall_passfail,Per_Student_Budget
37535,Thomas High School,Charter,1635,1043130,76,76,Pass,Pass,PassPass,638.0
37536,Thomas High School,Charter,1635,1043130,82,84,Pass,Pass,PassPass,638.0
37537,Thomas High School,Charter,1635,1043130,90,80,Pass,Pass,PassPass,638.0
37538,Thomas High School,Charter,1635,1043130,69,71,Pass,Pass,PassPass,638.0
37539,Thomas High School,Charter,1635,1043130,76,86,Pass,Pass,PassPass,638.0

In [ ]:
# Gather data from huang_df for the Huang High School Summary Table
_name = _df["school_name"].unique()
_name

In [ ]:
_type = _df["type"].unique()
_type

In [ ]:
_size = _df["size"].unique()
_size

In [ ]:
_budget = _df["budget"].unique()
_budget

In [90]:
average_math_ = _df["math_score"].mean()
average_math_

76.71176670057646

In [91]:
average_reading_ = _df["reading_score"].mean()
average_reading_

81.15801966768396

In [92]:
# Find percent of Huang students with passing math scores
math_pass_ = _df['math_passfail'].value_counts('Pass')
math_pass_

Pass    0.884368
Fail    0.115632
Name: math_passfail, dtype: float64

In [93]:
# Find percent of Huang students with passing reading scores
reading_pass_ = _df['reading_passfail'].value_counts('Pass')
reading_pass_

Pass    1.0
Name: reading_passfail, dtype: float64

In [94]:
overall_pass_ = _df['overall_passfail'].value_counts('PassPass')
overall_pass_

PassPass    0.884368
FailPass    0.115632
Name: overall_passfail, dtype: float64

In [95]:
# Print table with Huang Summary information:
_summary_df = pd.DataFrame(
    {"School Name": _name, 
     "School Tyoe": _type,
     "Total Students": _size,
     "Total School Budget": _budget,
     "Average Math Score": [average_math_],
     "Average Reading Score": [average_reading_],
     "% Passing Math": [math_pass_],
     "% Passing Reading": [reading_pass_],
     "% Overall Passing": [overall_pass_]
                       })
figueroa_summary_df

,School Name,School Tyoe,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Figueroa High School,District,2949,1884411,76.711767,81.15802,Pass 0.884368 Fail 0.115632 Name: math_p...,"Pass 1.0 Name: reading_passfail, dtype: flo...",PassPass 0.884368 FailPass 0.115632 Name...